@import './base/base.scss';
@import './base/reset.scss';
@import './base/loading.scss';

body {
    @include gradient;
}

.weather__form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;



    input {
        @include sourceSansProLight;
        letter-spacing: 2px;
        width: 50%;
        border-radius: 5px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 1.25rem;
        border: none;
        padding: 10px 15px;
        box-shadow: 0px 0px 15px #FFF;
        outline: none;

        @include mobile {
            width: 100%;
        }
    }

    .location {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }
    }

    button {
        @include sourceSansProRegular;
        border-radius: 10px;
        font-size: 1.15rem;
        background: #d1b7fb;
        transition: 0.9s;
        color: #fff;
        border: none;
        padding: 10px 15px;
        text-shadow: 1px 1px 2px #000;
        margin-right: 25px;
        margin-left: 25px;

        &[type="button"] {
            background: #8a48f5;
            color: #FFF
        }

        @include mobile {
            width: 80%;
            margin-bottom: 15px;
        }
    }

    button:hover {
        background: #7482aa;
        color: #fff;
    }
}

.weather {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;

    @include mobile {
        align-items: normal;
        height: auto;

    }

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        @include mobile {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            justify-content: center;
        }

        img {
            width: 20%;

            @include mobile {
                width: 50%;
            }
        }

        .title {
            box-shadow: 3px 3px 10px #000;
            padding: 50px;
            border-radius: 10px;
            background-color: rgba(159 152 152 / 30%);

            @include mobile {
                padding: 25px;
                width: 95%;

            }

            h2 {
                color: #fff;
                font-size: 30px;
                letter-spacing: 1px;
                @include sourceSansProBold;

                @include mobile {
                    font-size: 25px;
                }
            }

            h3 {
                color: #fff;
                font-size: 50px;
                letter-spacing: 1px;
                margin-top: 30px;
                @include sourceSansProRegular;

                @include mobile {
                    font-size: 25px;
                }

                p {
                    color: #EEE;
                    font-size: 30px;
                    margin-top: 20px;
                    @include sourceSansProLight;

                    @include mobile {
                        font-size: 25px;
                        text-transform: uppercase;
                    }
                }
            }

        }

    }

    li {
        list-style: none;
        color: #fff;
        font-size: 35px;
        margin-top: 20px;
        @include sourceSansProRegular;
        text-shadow: -3px -2px #000;

        @include mobile {
            font-size: 25px;
            width: 95%;

        }

        @include tablet {
            font-size: 20px;
            margin-left: 16px;
        }

        p {
            color: #ffffff;
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
            @include sourceSansProLight;
            box-shadow: 3px 3px 10px black;
            text-shadow: none;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(159 152 152 / 30%);

            @include mobile {
                font-size: 25px;
            }
        }
    }

    ul {
        display: flex;
        width: 95%;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 30px;

        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 0;
            margin-top: 0;
            width: 100%;

        }

    }

    button {
        padding: 10px 15px;
        width: 25%;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        letter-spacing: 5px;
        background: #d1b7fb;
        transition: 0.9s;
        color: #000;
        margin-top: 50px;
        @include sourceSansProRegular;

        @include mobile {
            margin-left: 5%;
            height: 5%;
            width: 90%;
            margin-top: 0;
            font-size: 1.15rem;
            margin-bottom: 10%;
        }

        @include tablet {
            margin-top: 10px;
        }
    }

    button:hover {
        background: #7482aa;
        color: #fff;
    }

}

.footer {
    background: #7482aa;
    margin-bottom: 0;
    padding: 10px;

    p {
        margin-bottom: 0;
        color: #FFF;
        text-align: center;
        @include sourceSansProLight;
    }
}